/vendor
/tests/Coverage

.DS_Store
Thumbs.db
.idea
.discovery
.php_cs.cache

clover.xml
composer.lock
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php

*.sublime-project
*.sublime-workspace
*.phar
*.pid
*.log
